body{
  background-color: lightyellow;
  background-size: cover;
  text-decoration: aqua;
 }
button{
  border-radius: 30px;
  border: line;
  margin-top: none;
  align-content: center;
}
h2{
  width: 170px;
  border-radius: 
}
#jkl{
  border-radius: 50%;
  margin-right: 50px;
  
}
img{
  height: 90px;
  width: 210px;
  border-radius: 13px;
  border:1px solid black; 
}
#hl{
  font-size: 14px;
  text-align: center;
}
#hd{
 border: 2px solid red;
  background-color: black;
  height: 120px
} 
div{
  border: 1px solid black;
  border-radius: 1px;
}
h5{
  border-radius: 7px;
  background-color: red;
  border: 2px solid black;
}
#pp{font-size: 10px;
  color:red;
}
p{
  font: 
}(